In [10]:
import pandas as pd
import json
import os
with open("/home/aamad/Desktop/phd/codice/city-pro/config/ConfigPythonAnalysis.json","r") as f:
    Dict =json.load(f)
df = pd.read_csv(os.path.join(Dict["InputBaseDir"],Dict["base_name"] + '_' + Dict["StrDates"][3] + '_' + Dict['StrDates'][3] + '_fcm_centers.csv'),delimiter = ";")

In [13]:
df

   0   1.89267  2.87332   1.02209  0.692444  24403
0  1   7.27147  11.6923   3.12756  0.717426  22382
1  2  14.32140  24.4377   5.47434  0.768772  39046
2  3  27.93960  42.6390  16.62980  0.883199  12009